Package: log-cleaner
Version: 0.2.0
Section: admin
Maintainer: Carl J Smith <BM-NBHLt5EUFVEbRCmrbVrfCyaB2c8d24U9>
Installed-Size: 20
Priority: optional
Architecture: all
Depends: python3 , python3-dialog, coreutils, findutils
Description: Curses interface for setting a cron job to delete system logs.
 Curses interface for setting a cron job to delete system logs. Options available are reboot,hourly,daily,monthly,weekly,yearly.
